
{%extends 'base.html'%}
{% block content %}
{{block.super}}
<div class="container" style="margin-top:60px;">
  <!--looping through displays-->

  {% if images %}

  {% for app_item in images %}

<div class="row center-block">
  <div class="col-md-4 col-md-4 col-md-4">
    
    <div class="uk-text-center">
       <div class="uk-inline-clip uk-transition-toggle uk-light" tabindex="0">
           <img style="width:500px; height:250px"src="{{app_item.photos.url}}" class="img-responsive img-thumbnail" alt="responsive-image">
           <div class="uk-position-center">
               <div class="uk-transition-slide-top-small"><h4 class="uk-margin-remove" style="color:red;">{{app_item.image_name}}</h4></div>
               <div class="uk-transition-slide-bottom-small"><h4 class="uk-margin-remove">{{app_item.category}}</h4></div>
           </div>
       </div>
       <p class="uk-margin-small-top">{{app_item.location}}</p>
       <a class="uk-margin-small-top bbtn-red" href="image/{{app_item.id}}">More Details</a>
   </div>

  </div>
  {% empty %}
  <div class="row">
    <h1 class="text-center text-info">There no Display Items</h1>
  </div>
  {% endfor %}
  {% endif %}

  <button class="trigger">Modal!</button>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">{{image.html}}</span>
            <h1>Hello, I am a modal!</h1>
        </div>
    </div>

  <script>
    var modal = document.querySelector(".modal");
    var trigger = document.querySelector(".trigger");
    var closeButton = document.querySelector(".close-button");

    function toggleModal() {
        modal.classList.toggle("show-modal");
    }

    function windowOnClick(event) {
        if (event.target === modal) {
            toggleModal();
        }
    }

    trigger.addEventListener("click", toggleModal);
    closeButton.addEventListener("click", toggleModal);
    window.addEventListener("click", windowOnClick);
	
  </script>
</div>

{% endblock %}